body {
  text-align: center;
  background-color: #ffe9bf;
  font-family: 'Press Start 2P', cursive;
}

.container {
  width: 400px;
  margin: auto;
  position: relative;
}

.btn {
  margin: 0;
  display: inline-block;
  height: 150px;
  width: 150px;
}

.btn:hover {
  filter: brightness(250%);
}

.btn,
.circle,
#level-title {
  border: 5px solid black;
}

.btn,
.sound {
  cursor: pointer;
}

.row {
  margin-bottom: 12px;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
  border-top-right-radius: 100%;
}

.green {
  background-color: green;
  border-top-left-radius: 100%;
}

.blue {
  background-color: blue;
  border-bottom-right-radius: 100%;
}

.yellow {
  background-color: yellow;
  border-bottom-left-radius: 100%;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.circle {
  position: absolute;
  top: 112px;
  left: 143px;
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 100%;
  z-index: 100;
}

.start-btn {
  text-decoration: none;
  font-size: 1.5rem;

}

.sound {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 56px;
  right: 56px;
}

#level-title {
  font-size: 2.8rem;
  margin: 5% auto;
  padding: 20px;
  background-color: orange;
  border-radius: 10px;
  color: #000;
  width: 70%;
  line-height: 125%;
}

@media (min-width: 900px) {

  .container {
    width: 640px;
  }

  .btn {
    height: 200px;
    width: 200px;
  }

  #level-title,
  .btn,
  .circle {
    border: 8px solid black;
  }

  .sound {
    width: 56px;
    height: 56px;
  }

  .circle {
    top: 140px;
    left: 239px;
    width: 140px;
    height: 140px;
  }
}